$near-grey-1: #E6EBF2;
$near-grey-2: #d8e1ed;
$near-grey-3: #C8D5E6;
$near-grey-4: #93a2b5;

$grey-1: #111111;
$grey-2: #242424;
$grey-3: #444444;
$grey-4: #646464;

$primary-light: #42f3ff;
$primary: #34CED6;
$primary-dark: #178ebd;
$primary-darker: #114B8B;

$white: #f2f2f2;
$black: #111111;